<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
<h4><%= t(@title) %></h4>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Contract#') %></th>
    <th><%= t('Pay Date') %></th>
    <th><%= t('Amount') %></th>
    <th><%= t('Brief Note') %></th>
    <th><%= t('Last Updated By') %></th>
    <th></th>
  </tr>
<% models.each do |r| %>
  <tr>
    
    <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(receiving_schedule_path(r))}" %></td>
  	<% if has_action_right?('show', InPaymentSchedulex.contract_resource, InPaymentSchedulex.contract_class.find_by_id(r.contract_id) ) %>
  	  <td><%= link_to r.contract_id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(InPaymentSchedulex.show_contract_path))}"  %></td>
  	<% else %>
  	  <td><%= prt(r, 'contract_id') %></td>
  	<% end %>  
    <td><%= prt(r, :pay_date).strftime('%Y/%m/%d') %></td>
    <td><%= number_with_precision(prt(r, :amount), :precision => 2) %></td>
    <td><%= prt(r, :brief_note) %></td>
    <td><%= prt(r, 'last_updated_by.name') if r.last_updated_by_id.present? %></td>

    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(edit_receiving_schedule_path(r))}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
   </tr>
<% end %>
</table>
<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
    	<%= link_to t('New Receiving Schedule'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(new_receiving_schedule_path(:contract_id => @contract.id, :parent_record_id => @contract.id, :parent_resource => InPaymentSchedulex.contract_resource))}", :class => BUTTONS_CLS['action'] if @contract && has_action_right?('create', params[:controller], InPaymentSchedulex.contract_class.find_by_id(@contract.id)) %>
    	<%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_receiving_schedules_path}", :class => BUTTONS_CLS['action'] %>
    </th>
  </tr>
</table>

<% end %>

